@charset "utf-8";
   img{border: 0 none;}
   body{font-size:12px; line-height:1.5em; font-family:Dotum, Tahoma; width:100%; margin:0 auto;}  
   dl, ol, ul, li {padding: 0; margin: 0;}
   li, ul, ol { list-style-type:none; }
   p, h1, h2, h3, h4, h5, h6 {font-size:12px; padding: 0; margin: 0;}
   a:link, a:visited{color:#333;  text-decoration:none;}
   a:hover,a:focus{ color:#333; text-decoration:none;}
   input[type="text"], select{height:28px}
