@charset "utf-8";

/* font */
@font-face {
	font-family: 'nanumsquarer';
	font-style: normal;
	font-weight: normal;
	src: local('nanumsquarer'), local('nanumsquarer'),
	url(../font/nanumsquarer.eot),
	url(../font/nanumsquarer.eot?#iefix) format('embedded-opentype'),
	url(../font/nanumsquarer.woff) format('woff'),
	url(../font/nanumsquarer.otf) format('opentype');
}
@font-face {
	font-family: 'nanumsquarer';
	font-style: normal;
	font-weight: bold;
	src: local('nanumsquareb'), local('nanumsquareb'),
	url(../font/nanumsquareb.eot),
	url(../font/nanumsquareb.eot?#iefix) format('embedded-opentype'),
	url(../font/nanumsquareb.woff) format('woff'),
	url(../font/nanumsquareb.otf) format('opentype');
}

/* reset */
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block}
html,body{margin:0;padding:0;width:100%;height:100%}
body{font-family:'nanumsquarer','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,AppleGothic,sans-serif;font-size:16px;color:#222;line-height:1.6em;overflow-y:scroll}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:1em}
ol,ul{margin:0;padding:0;list-style:none}
div,li,dl,dt,dd,form,iframe,p,a,span,blockquote,i,figure{margin:0;padding:0;box-sizing:border-box}
fieldset{margin:0;padding:0;border:0 solid transparent}
label{vertical-align:middle}
img{margin:0;padding:0;border:none;vertical-align:top}
table,th,td{margin:0;padding:0;font-size:1em;border-spacing:0}
input,textarea{margin:0;padding:0;background:#fff;font-family:'nanumsquarer','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,AppleGothic,sans-serif;font-size:1em;color:#222;vertical-align:middle;border:0;border-radius:0;-webkit-border-radius:0;-webkit-appearance:none;box-sizing:border-box;outline:none}
caption{visibility:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0}
select{margin:0;padding:0;font-family:'nanumsquarer','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,AppleGothic,sans-serif;color:#222;border-radius:0}
button{font-family:'nanumsquarer','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,AppleGothic,sans-serif;font-size:1em;margin:0;padding:0;border:0;cursor:pointer;background:none}
button::-moz-focus-inner{border:0;padding:0}
em{font-style:normal}
a{text-decoration:none;color:#222}

/* layout */
.wrap{max-width:800px;min-width:320px;margin:0 auto;padding:50px 0 1px 0;opacity:0}
.wrap.show{opacity:1}
.header{min-width:320px;height:50px;position:fixed;left:0;right:0;top:0;z-index:500}
.header .logo{height:50px;background:#fff}
.header .logo a{display:block;width:130px;height:45px;background:url(../img/logo.png) no-repeat;background-size:130px 45px;position:absolute;left:50%;top:2px;margin-left:-65px;overflow:hidden;text-indent:-9999px;z-index:10}
.header .tit{background:#3b69c6;color:#fff;text-align:center;font-size:18px;line-height:50px}
.header .util{max-width:800px;height:50px;position:absolute;left:0;right:0;top:0;margin:0 auto;padding:5px}
.header .util a,
.header .util button{float:left;padding:8px;margin-right:2px}
.header .util a.fr,
.header .util button.fr{margin-right:0;margin-left:2px}
.header .util a.search,
.header .util button.search{float:right;margin-right:0}

.gnb-menu{width:100%;min-width:320px;background:#fff;position:fixed;left:-100%;top:0;bottom:0;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;z-index:9999}
.gnb-menu.active{left:0}
.gnb-menu .util{background:#3b69c6;color:#fff;padding:50px 15px 15px 15px;overflow:hidden}
.gnb-menu .greeting{display:inline-block;font-size:14px;margin-right:20px}
.gnb-menu .btn-util{float:right}
.gnb-menu .btn-util .btn{width:60px;height:26px;line-height:26px;font-size:12px;float:left;margin-left:5px}
.gnb-menu .btn-util .btn.btn-my{background:#122a76}
.gnb-menu .btn-util .btn.btn-logout{background:#191919}
.gnb-menu .info{border-top:1px solid #2e59af;background:#3b69c6;padding:10px 15px 15px 15px;border-bottom:3px solid #1c3891;overflow:hidden;position:relative}
.gnb-menu .info:before{content:"";display:block;width:1px;background:#5078ca;position:absolute;left:33%;top:20px;bottom:15px;margin-left:7px}
.gnb-menu .info:after{content:"";display:block;width:1px;background:#5078ca;position:absolute;right:33%;top:20px;bottom:15px;margin-right:7px}
.gnb-menu .info li{float:left;width:33%;font-size:13px;color:#ccd9ff;text-align:center;padding:12px 0}
.gnb-menu .info a{font-size:18px;color:#fff;position:relative}
.gnb-menu .info a:before{content:"";display:block;height:5px}
.gnb-menu .info a:after{content:"";display:block;height:1px;background:#fff;position:absolute;left:-1px;right:-1px;bottom:-2px}
.gnb-menu .search{padding:10px 20px 20px 20px;position:relative}
.gnb-menu .search legend{border-bottom:1px solid #d0d0d0;line-height:40px;margin-bottom:10px}
.gnb-menu .search label{font-size:14px;line-height:32px;position:absolute;left:0;top:0}
.gnb-menu .search .item{padding:0 80px 0 65px;margin-top:10px}
.gnb-menu .search .inp-txt{width:100%}
.gnb-menu .search .btn{width:74px;height:78px;background:#122a76;font-size:16px;position:absolute;right:20px;bottom:20px;padding:0}
.gnb-menu .nav ul{background:#f1f1f1;border-top:3px solid #1c3891}
.gnb-menu .nav li{border-top:1px solid #ddd}
.gnb-menu .nav li:first-child{border-top:none}
.gnb-menu .nav a{display:block;padding:0 20px;line-height:48px;font-size:15px;background:url(../img/ico_arrow.png) no-repeat 100% 50%;background-size:30px 16px}
.gnb-menu .btn-close{display:block;padding:7px;position:absolute;right:5px;top:5px;z-index:10;opacity:.7}

/* setting */
.hidden{overflow:hidden;position:absolute;width:1px;height:1px}
.clear{float:none !important;clear:both !important}
.no_bg{background:none !important}
.no_bd{border:0 !important}
.no_pd{padding:0 !important}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.nowrap{white-space:nowrap !important}
label{font-size:14px}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
button,input{*overflow:visible;outline:none}
input::-ms-clear {
	display: none;
}
a, input, select, button{
	transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
*::-moz-selection{background:#669aff;color:#fff}
*::selection{background:#669aff;color:#fff}

.fl{float:left !important}
.fr{float:right !important}
.fn{clear:both;float:none !important}
.slide{height:0;overflow:hidden}
.slide.active{height:auto}
.tab-cont{display:none}
img{width:100%}

.box-line{position:relative}
.box-line:before{content:"";display:block;height:10px;background:#ededed;border-top:1px solid #ddd;border-bottom:1px solid #ddd}

.loading{display:block;width:50px;height:50px;margin:15px auto}

.swiper-pagination-bullet.swiper-pagination-bullet-active{background:#fd8002}
.swiper-pagination-fraction{width:auto;left:auto;right:10px;color:#fff;background:rgba(0,0,0,.5);font-size:13px;padding:0 10px;border-radius:15px}

/* margin & padding */
.m-0{margin:0 !important}
.m-10{margin:10px !important}
.m-t-0{margin-top:0 !important}
.m-t-10{margin-top:10px !important}
.m-t-20{margin-top:20px !important}
.m-r-0{margin-right:0 !important}
.m-r-10{margin-right:10px !important}
.m-r-20{margin-right:20px !important}
.m-b-0{margin-bottom:0 !important}
.m-b-10{margin-bottom:10px !important}
.m-b-20{margin-bottom:20px !important}
.m-l-0{margin-left:0 !important}
.m-l-10{margin-left:10px !important}
.m-l-20{margin-left:20px !important}
.p-0{padding:0 !important}
.p-t-0{padding-top:0 !important}
.p-t-10{padding-top:10px !important}
.p-t-20{padding-top:20px !important}
.p-r-0{padding-right:0 !important}
.p-r-10{padding-right:10px !important}
.p-r-20{padding-right:20px !important}
.p-b-0{padding-bottom:0 !important}
.p-b-10{padding-bottom:10px !important}
.p-b-20{padding-bottom:20px !important}
.p-l-0{padding-left:0 !important}
.p-l-10{padding-left:10px !important}
.p-l-20{padding-left:20px !important}
.border-top{border-top:1px solid #ddd}

/* ico */
.ico{display:inline-block;width:16px;height:16px;background:url(../img/ico.png) no-repeat;background-size:200px 300px;vertical-align:middle;overflow:hidden;text-indent:-9999px}
.ico.ico-lg{width:24px;height:24px}
.ico.ico-big{width:64px;height:64px}

.ico.ico-notice{background-position:0 0}
.ico.ico-detail{background-position:-20px 0}
.ico.ico-delete{background-position:-40px 0}
.ico.ico-plus{background-position:-60px 0}
.ico.ico-modify{background-position:-80px 0}
.ico.ico-first{background-position:-100px 0}
.ico.ico-prev{background-position:-120px 0}
.ico.ico-next{background-position:-140px 0}
.ico.ico-last{background-position:-160px 0}
.ico.ico-trash{background-position:-180px 0}
.ico.ico-up{background-position:0 -20px}
.ico.ico-down{background-position:-20px -20px}
.ico.ico-close{background-position:-40px -20px}

.ico.ico-lg.ico-close{background-position:0 -100px}
.ico.ico-lg.ico-menu{background-position:-30px -100px}
.ico.ico-lg.ico-menu2{background-position:-60px -100px}
.ico.ico-lg.ico-search{background-position:-90px -100px}
.ico.ico-lg.ico-search2{background-position:-120px -100px}
.ico.ico-lg.ico-back{background-position:-150px -100px}
.ico.ico-lg.ico-home{background-position:0 -130px}
.ico.ico-lg.ico-list{background-position:-30px -130px}
.ico.ico-lg.ico-thumb{background-position:-60px -130px}

.ico.ico-big.ico-car{background-position:0 -190px}

/* bg */
.bg-grey{background:#f8f8f8 !important}
.bg-primary{background:#eef6ff !important}
.bg-danger{background:#ffecec !important}

/* font */
.tit-sub{display:block;margin:15px 10px 5px 10px;font-size:15px;font-weight:bold}
.txt-primary{color:#1C62CC !important}
.txt-danger{color:#e14b42 !important}
.txt-black{color:#000 !important}
.txt-grey{color:#555 !important}
.txt-lighter{color:#888 !important}
.txt-left{text-align:left !important}
.txt-right{text-align:right !important}
.txt-center{text-align:center !important}
.font-sm{font-size:13px !important}
.font-xsm{font-size:12px !important}

/* info */
.info-txt.bullet li{position:relative;padding-left:10px}
.info-txt.bullet li:before{content:"";display:block;width:5px;height:1px;background:#555;position:absolute;left:0;top:11px}
.info-txt-notice,
.info-txt.notice li{display:block;position:relative;padding-left:18px}
.info-txt-notice:before,
.info-txt.notice li:before{content:"※";display:block;color:#555;position:absolute;left:0;top:1px}
.info-txt,
.info-txt-notice{font-size:14px;margin:10px;position:relative}
.info-box{display:block;border:1px solid #ddd;background:#fafafa;padding:12px 15px;margin:10px;border-radius:2px;font-size:14px}
.info-box .tit{display:block;font-size:16px;margin-bottom:5px}

.info-refult{background:#e1ebff;font-size:14px;padding:7px 12px;position:relative}
.info-refult .txt{display:block;padding-right:55px;color:#000}
.info-refult .btn{position:absolute;right:10px;top:50%;margin-top:-13px}

.info-result-none{background:#f3f3f3;color:#666;font-size:14px;text-align:center;padding:15px;margin:10px}
.info-result-none .ico{margin-right:5px}
.car-result-none{border:1px solid #e2e2e2;text-align:center;padding:15px 10px 20px 10px;margin:10px;font-size:14px;color:#5383ab;line-height:20px}
.car-result-none .ico{display:block;margin:0 auto 5px auto}

.list-util{border-bottom:1px solid #ddd;text-align:right;overflow:hidden;padding:10px 0;margin:0 10px}
.list-util .tit-sub{float:left;line-height:34px;margin:0}
.list-util .btn-ico{margin-left:2px}

/* button */
.btn{display:inline-block;height:45px;line-height:43px;color:#fff;text-align:center;white-space:nowrap;padding:0 10px;border-radius:5px;vertical-align:middle}
.btn:focus{outline:1px dotted #3b6ac6}
.btn.btn-sm{min-width:60px;height:34px;line-height:32px;font-size:14px;padding:0 5px}
.btn.btn-xsm{min-width:50px;height:26px;line-height:24px;font-size:13px;padding:0 3px;border-radius:3px}
.btn.btn-block{display:block;width:100%;margin:10px 0}

.btn.btn-default{background:#a0a0a0;border:1px solid #a0a0a0}
.btn.btn-primary{background:#3b6ac6;border:1px solid #3b6ac6}
.btn.btn-info{background:#00a3e4;border:1px solid #00a3e4}
.btn.btn-accent{background:#fd8002;border:1px solid #fd8002}
.btn.btn-line{background:#fff;border:1px solid #d0d0d0;color:#222}
.btn.btn-line-primary{background:#fff;border:1px solid #3b69c6;color:#3b69c6}
.btn.btn-line-accent{background:#fff;border:1px solid #fd8002;color:#fd8002}

.btn-ico{border:1px solid #ddd;width:34px;height:34px}
.btn-ico.on{border-color:#888}
.btn-ico .ico{opacity:.5;
	transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
.btn-ico.on .ico{opacity:1}

.btn-group{overflow:hidden;margin:10px 10px 0 10px}
.btn-group .btn{margin-bottom:10px}
.btn-group .btn-center{width:100%}
.btn-group .btn-left{width:48.8%;min-width:100px;float:left}
.btn-group .btn-right{width:48.8%;min-width:100px;float:right}

.btn-top{display:none;width:40px;height:40px;line-height:40px;font-size:14px;color:#fff;border-radius:100%;opacity:.8;background:#222;position:fixed;right:0;bottom:0;margin:5px;z-index:500}
.util-bottom{background:#fff;position:fixed;left:0;right:0;bottom:0;z-index:500;border-top:1px solid #ddd}

/* form */
.item{position:relative}
.inp-txt{width:100%;height:45px;padding:10px;font-size:15px;line-height:17px;border:1px solid #d0d0d0;background:#fff;text-align:left;outline:none}
.inp-txt:focus{border-color:#3b6ac6}
.inp-txt.inp-sm{height:34px;padding:7px 8px;font-size:14px}
textarea.inp-txt{height:100px;overflow-y:auto;-webkit-overflow-scrolling:touch;resize:none}
textarea.inp-txt.inp-sm{height:80px}
.inp-txt.inp-disabled{background:#f5f5f5}

.item.item-unit{padding-right:40px}
.item.item-unit .unit{width:40px;text-align:center;line-height:20px;position:absolute;right:0;top:50%;margin-top:-10px}

.bullet-esst{display:inline-block;color:#e14b42;vertical-align:middle;margin:6px 4px 0 0}

.select{width:100%;height:45px;font-size:15px;background:#fff url(../img/select.gif) no-repeat 100% 50%;background-size:30px 24px;text-align:left;padding:0 8px;border:1px solid #d0d0d0;outline:none;box-sizing:border-box;appearance:none;-moz-appearance:none;-webkit-appearance:none}
.select:focus{border-color:#3b6ac6}
.select-sm{height:34px;font-size:14px;padding:0 5px}

.form-box{padding:0 10px 10px 10px;overflow:hidden}
.form-box.bordered{border:1px solid #ddd;background:#f8f8f8;padding:0 10px 10px 10px;margin:10px}
.form-box .inp-txt,
.form-box .select{margin-top:10px;font-size:14px}
.form-box .inp-left{width:48.8%;float:left}
.form-box .inp-right{width:48.8%;float:right}
.form-box .item{padding-left:22%;overflow:hidden}
.form-box .item label{position:absolute;left:0;top:10px;line-height:45px}
.form-box .item-date .inp-left,
.form-box .item-date .inp-right{width:45%}
.form-box .item-date .sb{display:inline-block;width:10%;line-height:45px;text-align:center;float:left;margin-top:10px}
.form-box .check{padding:15px 0 5px 0;overflow:hidden}
.form-box .check label{width:25%;float:left;font-size:13px;letter-spacing:-1px}

.form-box .btn-group{margin:10px 0 -10px 0}
.form-box .list-slide{margin:10px 0 0 0}
.form-box .list-slide > li{margin-top:-1px}

.form-search{background:#f8f8f8;padding:10px 120px 10px 10px;position:relative;overflow:hidden}
.form-search .btn{width:100px;position:absolute;right:10px;top:10px}

.paging{text-align:center;margin:15px 0 20px 0}
.paging .ico{vertical-align:top;margin-top:5px}
.paging a,
.paging button{display:inline-block;width:28px;height:28px;line-height:26px;font-size:14px;border:1px solid #ddd;text-align:center;vertical-align:top}
.paging a.on,
.paging button.on{color:#3b69c6;font-weight:bold;border:1px solid #3b69c6}

/* checkbox, radio */
.radio,
.checkbox{position:absolute;opacity:0}
.radio + label,
.checkbox + label{display:inline-block;vertical-align:middle;position:relative}
.radio + label:before,
.checkbox + label:before{content:"";display:inline-block;width:16px;height:16px;border:1px solid #d0d0d0;background:#fff;vertical-align:middle;margin-right:6px}
.radio:checked + label,
.checkbox:checked + label{color:#3b6ac6}
.radio:checked + label:before,
.checkbox:checked + label:before{border-color:#3b6ac6;background:url(../img/check.gif) no-repeat 50% 50%;background-size:17px 17px}
.radio + label:before{border-radius:100%}
.radio.check-only + label,
.checkbox.check-only + label{width:18px;height:18px;padding:0;margin:0;overflow:hidden;text-indent:-9999px}
.radio.check-only + label:before,
.checkbox.check-only + label:before{position:absolute;left:0;top:0}
.radio.check-onff + label,
.checkbox.check-onff + label{padding:0;margin:0}
.radio.check-onff + label:before,
.checkbox.check-onff + label:before{display:none}

.switch{height:45px;background:#fafafa;border:1px solid #ddd;position:relative;overflow:hidden}
.switch label{display:block;width:50%;height:100%;line-height:43px;float:left;text-align:center;position:relative;z-index:2;
	transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
.switch label.area{font-size:12px;line-height:16px;padding-top:6px}
.switch input{width:100%;height:100%;position:absolute;left:0;top:0;right:0;bottom:0;background:none}
.switch input:first-child:before{content:"";display:block;width:48%;height:39px;background:#fd8002;border-radius:2px;position:absolute;left:51%;top:2px;
	transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
.switch input:first-child:checked:before{left:1%}
.switch input:checked + label{color:#fff}

/* label */
.label{display:inline-block;font-size:12px;color:#000;line-height:24px;text-align:center;padding:0 5px;border-radius:3px;vertical-align:middle;font-weight:normal}
.label.label-primary{background:#d7eaf8}
.label.label-danger{background:#ffdedc}
.hotmark{display:inline-block;font-size:12px;border:1px solid #ddd;line-height:22px;font-size:12px;border-radius:4px;padding:0 7px}

/* tab */
.tab-menu{display:table;width:100%;background:#f8f8f8;border-bottom:1px solid #ddd}
.tab-menu a,
.tab-menu .tab-btn{display:table-cell;line-height:50px;text-align:center;white-space:nowrap;font-size:15px}
.tab-menu a.on,
.tab-menu .tab-btn.on{color:#3b69c6;font-weight:bold}

.tab-sub{margin:20px 10px 0 10px;overflow:hidden;position:relative;z-index:1}
.tab-sub:before{content:"";display:block;height:1px;background:#ddd;position:absolute;left:0;right:0;bottom:0}
.tab-sub .tab-btn{display:block;float:left;line-height:40px;padding-bottom:2px;text-align:center;white-space:nowrap;font-size:15px;position:relative}
.tab-sub .tab-btn:before{content:"";display:none;height:2px;background:#3b69c6;position:absolute;left:0;right:0;bottom:0}
.tab-sub .tab-btn.on{color:#3b69c6}
.tab-sub .tab-btn.on:before{display:block}

.tab-form{margin:10px}
.tab-form .tab-btn{display:block;width:100%;padding:10px;border:1px solid #ddd;font-size:14px;margin-top:-1px;position:relative}
.tab-form .tab-btn.on{padding:9px;border:2px solid #fd8002;z-index:1}

.tab-menu .tab-btn,
.tab-menu a,
.tab-sub .tab-btn{width:50%}
.tab-menu.tab-3ea .tab-btn,
.tab-menu.tab-3ea a,
.tab-sub.tab-3ea .tab-btn{width:33.33%}
.tab-menu.tab-4ea .tab-btn,
.tab-menu.tab-4ea a,
.tab-sub.tab-4ea .tab-btn{width:25%}
.tab-menu.tab-5ea .tab-btn,
.tab-menu.tab-5ea a,
.tab-sub.tab-5ea .tab-btn{width:20%}

/* list */
.list-summury{margin:10px;padding:0 8px}
.list-summury li{font-size:14px;padding-top:8px;clear:both;overflow:hidden}
.list-summury em{display:inline-block;width:30%;margin-right:10px;color:#888;float:left;text-align:left}
.list-summury.bordered{border:1px solid #ddd;padding:2px 12px 10px 12px}
.list-summury strong{font-weight:normal}
.list-summury .box{height:140px;overflow-y:auto;-webkit-overflow-scrolling:touch;border:1px solid #ddd;clear:both;margin-top:30px;padding:8px 12px}

.list-table{margin:10px}
.list-table > table{width:100%;border-top:1px solid #000;border-collapse:collapse}
.list-table th{font-size:14px;color:#111;border-bottom:2px solid #ddd;padding:8px 5px}
.list-table td{border-bottom:1px solid #ddd;padding:8px 5px;font-size:14px}
.list-table td.list-table-scroll{padding:0}
.list-table td.list-table-scroll div{max-height:200px;margin-bottom:-1px;overflow-y:auto;-webkit-overflow-scrolling:touch}
.list-table td.list-table-scroll table{width:100%}

.list-form{border-top:1px solid #000;margin:10px}
.list-form table{width:100%;border-collapse:collapse}
.list-form th{width:30%;text-align:left;font-size:14px;color:#000;line-height:18px;font-weight:normal;border-bottom:1px solid #ddd;padding:11px}
.list-form td{border-bottom:1px solid #ddd;padding:8px;font-size:14px}
.list-form .inp-txt,
.list-form .select{margin:-2px 0;height:40px}
.list-form .item-left{width:49%;float:left}
.list-form .item-right{width:49%;float:right}
.list-form textarea.inp-txt{height:100px}

.list-form.bordered{border-top:0}
.list-form.bordered th,
.list-form.bordered td{border:1px solid #ddd}

.list-slide{margin:5px 10px;background:#fff}
.list-slide ul{height:0;background:#f8f8f8;overflow:hidden}
.list-slide ul.active{height:auto}
.list-slide > li{margin-top:5px}
.list-slide > li > ul{border-right:1px solid #ddd;border-left:1px solid #ddd}

.list-slide.inquiry{margin-top:0}
.list-slide.inquiry li{margin-top:-1px}

.list-slide .slb.slb-icon:before{content:"";display:block;width:16px;height:16px;background:url(../img/slide.png) no-repeat;background-size:16px 16px;position:absolute;right:15px;top:50%;margin-top:-8px;
	-ms-transform: rotate(0); /* IE 9 */
	-webkit-transform: rotate(0); /* Chrome, Safari, Opera */
	transform: rotate(0);
	transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
}
.list-slide .slb.slb-icon.active:before{background:url(../img/slide_active.png) no-repeat;background-size:16px 16px;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

.list-slide > li > .slb{display:block;width:100%;min-height:54px;padding:15px;border:1px solid #ddd;text-align:left;font-size:14px}
.list-slide .slb{position:relative}
.list-slide .slb-btn{display:block;width:100%;min-height:54px;padding:0 15px;position:absolute;left:0;top:0;right:0;bottom:0;z-index:1;text-align:left}
.list-slide .slb.slb-icon{padding-right:50px}
.list-slide .selected{line-height:22px;position:relative;color:#3b69c6}
.list-slide .selected .detail{margin-top:4px}
.list-slide .delete{padding:5px;margin:-5px -5px -5px 2px;position:relative;z-index:10}
.list-slide .ico-modify{float:right;margin-top:4px}

.list-select{overflow:hidden}
.list-select .unit{display:block;width:50%;font-size:14px;line-height:34px;text-align:center;background:#f5f5f5;border-bottom:1px solid #ddd;float:left;box-sizing:border-box}
.list-select ul{width:50%;overflow-y:auto;-webkit-overflow-scrolling:touch;position:absolute;left:0;top:35px;bottom:0;margin-bottom:-1px}
.list-select ul.list-right{left:50%;border-left:1px solid #ddd;box-sizing:border-box}
.list-select li{border-bottom:1px solid #ddd}
.list-select label{display:block;line-height:52px;font-size:15px;font-weight:bold;text-align:center}
.list-select li.disabled label{color:#ddd}

.list-checkbox{overflow:hidden;position:relative;margin-bottom:-1px}
.list-checkbox:before{content:"";display:block;width:1px;background:#ddd;position:absolute;left:50%;top:0;bottom:0}
.list-checkbox li{width:50%;float:left;border-bottom:1px solid #ddd}
.list-checkbox li.all{width:100%;background:#fff;text-align:center;position:relative;z-index:1}
.list-checkbox label{display:block;padding:13px 15px}

/* popup */
.wrap.pop-open{position:fixed}
.modal{min-width:320px;background:#fff;position:fixed;z-index:9998}
.modal.modal-popup{display:none;min-width:280px;opacity:0;left:20px;right:20px;top:50%}
.modal.modal-popup.open{display:block;opacity:1}
.modal.modal-slide{left:0;right:0;bottom:-100%}
.modal.modal-slide.open{bottom:0}
.modal.modal-full{height:100%;left:0;right:0;bottom:-100%}
.modal.modal-full.open{bottom:0}
.modal-dimm{display:none;background:rgba(0,0,0,.75);position:fixed;left:0;right:0;top:0;bottom:0;z-index:9997}

.modal-tit{background:#3b69c6;color:#fff;text-align:center;font-size:18px;line-height:50px}
.modal-close{padding:8px;position:absolute;right:5px;top:5px}

.modal.modal-full{z-index:9999}
.modal.modal-full .modal-cont{overflow-y:auto;-webkit-overflow-scrolling:touch;position:absolute;left:0;right:0;top:50px;bottom:0}
.modal.modal-full .modal-cont.btnBottom{border-bottom:1px solid #ddd;bottom:65px}

.modal.modal-full .btn-group{position:absolute;left:0;right:0;bottom:0}
.modal .info-box{margin:10px}
